<div id="main" class="main"  *ngIf="!router.url.includes('login')">
    <div class="color"><p class="text-user"> User01  <mat-icon matTooltip="Cerrar sesión" (click)="logOut()">power_settings_new</mat-icon></p></div>
    <nav>
      <a [routerLink]="['/main']" class="home">Inicio</a>  <!--Solo admin-->
      <a [routerLink]="['/events']" class="projects">Eventos</a>
      <a [routerLink]="['/promotores']" class="projects">Promotores</a> <!--Solo admin-->
      <a [routerLink]="['']" class="projects">Restaurantes</a> <!--Solo admin-->
      <a [routerLink]="['']" class="projects">Clientes</a> <!--Solo admin-->
      <a [routerLink]="['']" class="projects">Ver solicitudes</a> <!--Solo admin-->
      <a [routerLink]="['']" class="projects">Mis reservas</a> <!--Solo clientes-->
      <a [routerLink]="['/facturas']" class="projects">Facturas</a> <!--Solo admin-->
      <a [routerLink]="['/users']" class="projects">Usuarios</a> <!--Solo admin-->
   </nav>
  
  </div>