<div class="padding-global max-heigth">
    <h2>Detalle del restaurante: {{ data.id }}</h2>

    <div>
        <a class="p-10"> <mat-hint>Licencia: </mat-hint>{{ data.license }} </a>

        <a class="p-10"> <mat-hint>Nombre del restaurante: </mat-hint> {{ data.name }} </a>
        <p>
            <a class="p-10"> <mat-hint>Número máximo de comensales: </mat-hint> {{ data.maxPeople }} </a>
            <a class="p-10"> <mat-hint>Camareros: </mat-hint> {{ data.waiters }} </a>
            </p>
            <p>
            <a class="p-10"> <mat-hint>Número mínimo de comensales: </mat-hint> {{ data.minPeople }} </a>
            <a class="p-10"> <mat-hint>Precio por persona: </mat-hint> {{ data.pricePerPerson }} </a>

        </p>

    </div>
    <div>
        <h3>Dirección</h3>

        <div>

            <a class="p-10"> <mat-hint>Calle: </mat-hint>{{ data.direction.street }} </a>

            <a class="p-10"> <mat-hint>Nº: </mat-hint> {{ data.direction.number }} </a>

            <a class="p-10"> <mat-hint>Piso: </mat-hint> {{ data.direction.floor }} </a>

            <p *ngIf="ciudad && codigoPostal">
                <a class="p-10"> <mat-hint>Ciudad: </mat-hint> {{ ciudad.city }} </a>

                <a class="p-10"> <mat-hint>Código postal: </mat-hint> {{ codigoPostal.postal_code }} </a>

            </p>

        </div>
    </div>
    <div *ngIf="data.promoter.length > 0" class="margin-botom">
        <h3>Promotores</h3>
        <div *ngFor="let promoter of data.promoter, let i = index">

            <a class="p-10">ID: {{promoter.id}} <mat-hint> Email: </mat-hint>{{ promoter.email }} </a>

            <a class="p-10"> <mat-hint>Número de teléfono: </mat-hint> {{ promoter.phoneNumber }} </a>
        </div>
    </div>

    <div class="align-end">

        <button mat-button mat-raised-button (click)="cerrar()">Cerrar</button>
        <!-- <mat-slide-toggle [(ngModel)]="isAddingDetails">Introducir detalles</mat-slide-toggle> -->
        <!-- <button mat-button (click)="addDetalles()">Introducir detalles</button> -->
        <!-- <button mat-raised-button *ngIf="isAddingDetails" (click)="sendDetails()">Añadir detalles</button> -->


    </div>
</div>