/* You can add global styles to this file, and also import other style files */
@import 'maplibre-gl/dist/maplibre-gl.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan .maplibregl-canvas {
    height: 300px;
}

.mat-mdc-paginator-container {
    justify-content: center !important;
}